<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Automatic Style Guide - {{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/autostyles.css">
  <link rel="stylesheet" href="css/{{title}}">
</head>
<body class="autostyles-body">
  <h1 class="autostyles-h1">Automatic Style Guide / {{title}}</h1>
  <a href="index.html" class="autostyles-button back">Back</a>
  {{#rules}}
  <h2 class="autostyles-block-title">
    {{selector}}
    {{#if state}}
      <span>{{state}}</span>
    {{/if}}
  </h2>

  <div class="autostyles-block{{#unless @first }} closed {{/unless}}">

    <div class="autostyles-tag">
      <{{selector}}{{#if state }} class="{{state}}"{{/if}}>
        {{#if blockLevel }}
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo debitis ipsum qui nesciunt sapiente explicabo quod laboriosam sed maxime voluptas at amet ducimus eligendi, et labore dolore, nihil natus expedita.
        {{else }}
          Lorem ipsum
        {{/if}}
      </{{selector}}>
    </div> <!-- /.autostyles-tag -->

    <pre class="autostyles-code">
      <code>
        {{#declarations}}
          <span class="autostyles-attr">{{property}}:</span>
          <span class="autostyles-val">{{value}}</span>;
          <br>
        {{/declarations}}
      </code>
    </pre>

  </div> <!-- /.autostyles-block -->
  {{/rules}}

  <script type="text/javascript" src="css/autostyles.js"></script>
</body>
</html>
